*.user
*.cache
*.sdf
*.opensdf
*.suo
*.orig
*.userprefs
.DS_Store
msbuild.log
Hammer/Test/*.txt
Hammer/Test/*.exe
obj/
bin/
ipch/
Scratch/
TestDeployment/
TestResults/
test-results/
Debug/
Release/
_UpgradeReport_Files/
.idea/
